$default-font: "circular",
sans-serif;
$default-font2: "roboto",
sans-serif;
$mc: #7B819A;;
$mc2: #FF554C;
$mc3: #E5DF06;
$mc4: #4F90B6;
$green1:#61DBB4;
$green2: #4DC7A0;
$gray:#F5F8FE;
$text: #22223E;
$wc: #fff;
$bc: #292949;;
$bc2: #000;
