@import './assets/vars';  // переменные
@import './assets/smart-grid';  // mixins smartgrid.js

// assets
@import './assets/mixins';  // миксины
@import './assets/fonts';  // шрифты
// @import '../svg-sprite/sprite/css/sprite.css'; //svg sprite css

@import './sprite.scss';

@include reset();

html, body{
	height: 100%;
	width: 100%;
}

a{
	color: $mc;
}
.page{
	background: #F7F8FA;
	font-family: $default-font;
	font-size: 12px;
	min-height: 100vh;
	color: $mc;
	line-height: 1.3;
	letter-spacing: 0.03em;
	padding: 50px 0;
}

.container{
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}
.row{
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
	
}

.col{
	padding: 0 15px;
	&__big{
		flex-basis: calc(62.2% - 30px);
	}
	&__small{
		flex-basis: calc(37.8% - 30px);
	}
}


.title{
	color: $bc;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 0;
}

.subtitle{
	color: $bc;
	font-size: 13px;
	line-height: 1.3;
	letter-spacing: 0.03em;
}

.badge{
	font-family: $default-font2;
	line-height: 1.6;
	display: inline-block;
	font-size: 12px;
	padding: 2px 10px;
	border-radius: 5px;
	letter-spacing: 0.03em;

	&_green{
		background: $green1;
		color: $wc;
	}
	&_gray{
		background: #F5F8FE;
		color: #848AA0;;
	}
}

.status{
	border-radius: 20px;
	font-weight: 500;
	padding: 3px 10px;
	display: flex;
	align-items: center;
	&__icon{
		margin-right: 5px;
		width: 0.8em;
		height: 0.8em;
		fill: none;
		stroke: #4DC7A0;
	}
	&_confirmed{
		color: $green2;
		background: rgba(97, 219, 180, .2);
	}
}

.user{
	display: flex;
	align-items: center;
	&__userpic{
		margin-right: 10px;
	}
}

.userpic{
	font-family: $default-font2;
	font-weight: 500;
	letter-spacing: 0.03em;
	line-height: 1.3;
	border-radius: 30px;
	padding: 4px;
	display: flex;
	width: 20px;
	height: 20px;
	align-items: center;
	justify-content: center;
	color: $wc;
	&__text{
		font-size: 9px;
	}
	&_orange{
		background: #FAB43F;
	}
	&_red{
		background: #F96878;
	}
	&_blue{
		background: #A0C4F7;
	}
	&_purple{
		background: #6A4EFF;
	}
	&_yellow{
		background: #F2C94C;
	}
}

.info-block{
	background: #FFFFFF;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.04);
	border-radius: 5px;	
	margin-bottom: 30px;
	&__header{
		border-bottom: 1px solid #E9EDF3;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 26px 30px 26px 35px;
		
	}
	&__main{
		padding: 35px;
		&_wo-padding{
			padding: 0;
		}
		&_guest-info{
			padding-top: 25px;
			padding-bottom: 40px;
		}
	}
	&__person-luggage + &__person-luggage{
		margin-top: 40px;
	}
}


.short-details-list{
	&__item{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item + &__item{
		margin-top: 30px;
	}
}

.luggage-list{
	font-family: $default-font2;
	line-height: 163%;
	letter-spacing: 0.03em;
	&__item{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 32px;
		background: #F5F8FE;
		border-radius: 4px;
	}
	&__item + &__item{
		margin-top: 20px;
	}
}

.person-luggage{
	&__user{
		margin-bottom: 20px;
	}
}


.price-details{
	&__header{
		margin-bottom: 35px;

	}
	&__question{
		margin-left: 8px;
		cursor: pointer;
	}

	&__key{
		display: flex;
		align-items: center;
	}
	&__value{
		&_green{
			font-weight: 600;
			color: #57D1AA;
		}
	}
	&__subtitle + &__subtitle{
		padding-left: 10px;
		border-left: 1px solid $bc;
		margin-left: 8px;
	}
	&__item{
		display: flex;
		align-self: center;
		justify-content: space-between;
	}

	&__item + &__item{
		margin-top: 30px;
	}

	&__total{
		margin-top: 30px;
		padding-top: 25px;
		border-top: 1px solid #E9EDF3;
		display: flex;
		justify-content: space-between;
	}
}

.question{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #B0B3C2;
	border-radius: 50%;
	height: 12px;
	width: 12px;
	font-size: 8px;
	line-height: 1;
	letter-spacing: 0.03em;
	font-weight: 600;
	color: #B0B3C2;
	span{
		margin-top: 2px;
	}
}

.booking-details{
	font-family: $default-font2;
	&__item + &__item{
		border-top: 1px dashed #D4DBE7;
	}
	&__item{
		padding: 35px;
	}
	&__airlines{
		margin-bottom: 30px;
	}
	&__links{
		padding-top: 18px;
	}
}


.airport{
	&__name{
		display: flex;
		align-items: center;
		font-family: $default-font2;
	}
	&__title{
		margin-right: 12px;
		font-family: $default-font;
		font-weight: 500;
	}
	&__city{
		color: $bc;
		letter-spacing: 0.01em;
		margin-top: 10px;
	}
}

.date{
	background:rgba(243, 245, 248, .8);
	border-radius: 5px;
	display: inline-block;
	padding: 2px 10px;
	font-family: $default-font2;
}

.airlines{
	&__top{
		display: flex;
		align-items: center;
		margin-bottom: 13px;
		justify-content: space-between;

	}
	&__pic{
		width: 24px;
		height: 24px;
	}
	&__main-info{
		display: flex;
		align-items: center;
	}
	&__title{
		margin-left: 30px;
	}

	&__features{
		margin-left: 54px;
		span + span{
			margin-left: 7px;
			padding-left: 9px;
			position: relative;
			&::before{
				content: '';
				display: inline-block;
				width: 2px;
				height: 2px;
				background: #7B819A;
				position: absolute;
				top: 6px;
				left: 0;
				border-radius: 50%;
			}
		}
	}
}
.path-wrapper{
	display: flex;
	justify-content: space-between;
}
.path{
	position: relative;
	&::before{
		content: '';
		display: block;
		height: 65%;
		position: absolute;
		left: 12px;
		background: #C6CAD9;
		width: 1px;
		top: 30px;
	}
	&__clock-icon{
		fill: $wc;
		stroke: #7B819A; 
		width: 12px;
		height: 12px;
		margin: 0 10px;
	}
	&__row{
		padding-left: 54px;
		display: flex;
		align-items: center;
		position: relative;
		margin-bottom: 35px;
		&:first-child, &:last-child{
			&::before{
				content: '';
				position: absolute;
				left: 10px;
				top: 20px;
				display: block;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				border: 1px solid #C6CAD9;
	
			}
		}
		&:last-child{
			margin-bottom: 0;
		}
		
		
	}
	&__time{
		padding-right: 10px;
		margin-right: 25px;
		font-family: $default-font;
		font-weight: 500;
		position: relative;
		&_plus-day{
			&::after{
				position: absolute;
				content: '+1';
				font-size: 10px;
				line-height: 130%;
				color: $mc;
				top: 0;
				right: 0
			}

		}
	}
}

.links-booking-details{
	display: flex;
	flex-direction: column;
	&__link{
		display: inline-flex;
		align-items: center;
	}
	&__icon-refund{
		fill: none;
		width: 10px;
		height: 12px;
		stroke: $mc;
		margin-right: 12px;
	}
	&__icon-layers{
		width: 15px;
		height: 15px;
		fill: #B0B3C2;
		margin-left: 14px;
	}

	&__icon-fare{
		width: 11px;
		height: 12px;
		stroke: $mc;
		fill: none;
		margin-right: 11px;
	}

	&__link + &__link{
		margin-top: 15px;
	}
}
.guest-info{
	&__guest + &__guest{
		margin-top: 40px;
		border-top: 1px solid #E9EDF3;
		padding-top: 25px;
	}
}
.guest{
	display: flex;
	&__pic-wrapper{
		padding-right: 17px;
	}
	&__userpic{
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
		width: 27px;
		height: 27px;
		.userpic__text{
			font-size: 13px;
		}
	}
	&__info{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 6px;
	}
	&__icon{
		margin-left: 20px;
	}
	&__icon + &__icon{
		margin-left: 10px;
	}
	&__item{
		flex-basis: calc(33% - 10px);
		display: block;
		margin-bottom: 22px;
		&_flex{
			display: flex;
			align-items: center;
		}
		&:last-child{
			flex-basis: 100%;
			margin-bottom: 0;
		}
	}

	&__text{
		font-family: $default-font2;
		line-height: 22px;
		&_big{
			font-size: 13px;
			
		}
		&_black{
			font-size: 11px;
			color: $bc;
			margin-right: 5px;
			letter-spacing: 0.02em;
		}
	}
	&__mini-user-pic{
		margin-left: 16px;
	}
}
.mini-user-pic{
	border-radius: 50%;
	width: 17px;
	height: 17px;
	background: #EBEEF4;
	display: flex;
	align-items: center;
	justify-content: center;
	&__icon{
		height: 9px;
		width: 9px;
		fill: #ACB2C8;
	}
	&_active{
		background: #FEE9C5;
		.mini-user-pic__icon{
			fill: #FAB43F;
		}
	}
}

.whatsup{
	path{
		&:first-child{
			fill:#DADADA;
		}
		&:last-child{
			fill: $wc;
		}
	}
	&_active{
		path{
			&:first-child{
				fill: #2CB742;
			}
		}
	}
}

.telegram{
	path{
		&:nth-child(1){
			fill:#DADADA;
		}
		&:nth-child(2){
			fill: white
		}
		&:nth-child(3){
			fill: #DADADA
		}
		&:nth-child(4){
			fill:#DADADA
		}
	}

	&_active{
		path{
			&:nth-child(1){
				fill:#41B4E6
			}
			&:nth-child(2){
				fill: white
			}
			&:nth-child(3){
				fill: #D2D2D7
			}
			&:nth-child(4){
				fill:#B9B9BE
			}
		}
	}
}

.loyalty{
	padding-bottom: 15px;
	border-bottom: 1px solid #E9EDF3;
	font-family: $default-font2;
	display: flex;
	align-items: center;
	&__text + &__text{
		margin-left: 10px;
	}
	&__text{
		&_big{
			font-size: 15px;
		}
		&_small{
			font-weight: 300;
			line-height: 1;
		}
	}
}
