.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-clock {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-confirmed {
	font-size:(7/10)*1rem;
	width:(7/7)*1em;
}
.icon-fare {
	font-size:(14/10)*1rem;
	width:(13/14)*1em;
}
.icon-layers {
	font-size:(16/10)*1rem;
	width:(15/16)*1em;
}
.icon-refund {
	font-size:(14/10)*1rem;
	width:(12/14)*1em;
}
.icon-telegram {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
.icon-union {
	font-size:(10/10)*1rem;
	width:(9/10)*1em;
}
.icon-whatsup {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
